<h4>Login: </h4>
<div class="car">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
        <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" id="" required>
        <label for="senha">Senha: </label>
            <input type="password" class="form-control" name="senha" id="" required>  
        <button class="btn btn-success mt-4">Entrar</button> 
        </form>
    </div>
</div>