
<div class="card">
    <div class="body-card">
        <h1>{{postagem.titulo}}</h1>
        <br>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>